.button-groups{
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    transition: all 3s;
}

.numerical-buttons{
    display: flex;
    flex-direction: column;
}

.button-group1{
    display: flex;
}

.operational-buttons{
    display: flex;
    flex-direction: row;
}

.button-group2{
    display: flex;
    flex-direction: column;
}

.main{
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 34, 34);
    width: 300px; 
    border: 3.5mm ridge rgb(47, 56, 50);
    border-radius: 15px;
    align-items: center;
}

.numerical-button,.operational-button,.clear-button{
    color:ivory;
    background-color: #505050;
    border: 0;
    border-radius: 30px;
    margin: 5px ;
    height: 50px;
    width: 50px;
    font-size: large;
}

.operational-button{
    color: black;
    background-color: #FF9500;   
}

.operational-button:hover{
    transition: background-color, 0.5s;
    background-color: #fcab3a ;
}

.numerical-button:hover{
    transition: background-color, 0.5s;
    background-color: #7a7a7a;
}

#result{
    color:ivory;
    font-size: x-large;
    background-color: rgb(37, 34, 34);
    width: 300px;
    height: 100px;
    border-radius: 15px;
    border: 0;
}

.clear-button{
    color: black;
    background-color: #D4D4D2;
    width: 170px;
    border-radius: 30px;
}

.clear-button:hover{
    transition: background-color, 0.5s;
    background-color: #a3a3a3;
}

/* @media only screen and (max-width: 480px){
    .main{
        margin:0px;
        width: 100vw;
        height: 100vh;
    }
    body {
        display: block;
        margin: 0px;
    }
} */
/* @media (min-width:641px)  {} */
/* @media only screen and(max-width:768px){
    body{
        width: 100vw;
        height: 100vh;
    }
} */

/* @media screen 
  and (max-width: 360px) 
  and (max-height: 640px) 
  /* and (-webkit-device-pixel-ratio: 4) { */
    /* {
    .main{
        width: 100vw;
        height: 100vh;
    }
} */ 